body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}
#menu-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 2px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    color: #333;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
#menu-togggle:hover {
    background: #e0e0e0;
    transform: rotate(90deg);
}
#menu {
    width: 22%;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 0.8em;
    background: #fafafa;
}

@media (max-width: 768px) {
    #menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        transform: translateX(-100%);
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    }
    #menu.active {
        transform: translateX(0);
    }
    #menu-toggle {
        display: block;
    }

    #docFrame {
        width: 100%;
        margin-left: 0;
        transition: margin-left 0.3s ease;
    }
    #docFrame.active {
        margin-left: 80%;
    }
}

#docFrame {
    flex: 1;
    border: none;
}

ul { list-style-type: none; margin: 0; padding-left: 1em; }
li { margin: 0.2em 0; }
.version-title {
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    display: flex;
    align-items: center;
}
.version-title::before {
    content: "\FE0E\25B6";
    display: inline-block;
    margin-right: 6px;
    transition: transform 0.2s ease;
}
.version-title.expanded::before {
    transform: rotate(90deg);
}
.version-list {
      display: none;
      margin-top: 0.3em;
      margin-left: 1em;
}
.version-list.visible {
    display: block;
}
a[data-path] {
    text-decoration: none;
    color: #333;
    font-size: 0.95em;
}
a[data-path]:hover {
    text-decoration: underline;
    color: #007acc;
}
a.active {
    color: #007acc;
    font-weight: bold;
}